<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.ApartmentDao">
    <insert id="createApartment" parameterType="Apartment" useGeneratedKeys="true" keyProperty="apartment.apartId">
        INSERT INTO apartment(
        	<if test="apartment.apartId != null">apart_id,</if>
	        <if test="apartment.apartName != null">apart_name</if>
		) VALUES (
	        <if test="apartment.apartId != null">#{apartment.apartId},</if>
	        <if test="apartment.apartName != null">#{apartment.apartName}</if>
		)
    </insert>
    
    <update id="updateApartment" parameterType="Apartment" useGeneratedKeys="true" keyProperty="apartment.apartId">
    	UPDATE apartment SET 
    		apart_id = #{apartment.apartId}, 
    		apart_name = #{apartment.apartName}
    		where apart_id = #{apartment.apartId}
    </update>
    <delete id="deleteApartment" parameterType="int">
		delete from apartment where apart_id=#{apartId}
	</delete>
	<select id="findApartName" parameterType="int" resultType="String">
		select apart_name as apartName from apartment where apart_id=#{apartId}
    </select>
	<select id="findApartStaffs" parameterType="int" resultType="Staff">
		select staff_id as staffId, staff_name as staffName from staff where staff_id in(
			select staff_id from apart_staff_relation where apart_id=#{apartId} and deleted=0
		)
    </select>
    <select id="findApartStaff" parameterType="int" resultType="Staff">
		select staff_id as staffId, staff_name as staffName from staff where staff_id in(
			select staff_id from apart_staff_relation where apart_id=#{apartId} and staff_id=#{staffId} and deleted=0
		)
    </select>
    <insert id="createApartStaff" parameterType="int" useGeneratedKeys="true" keyProperty="staffId">
        INSERT INTO apart_staff_relation(
        	<if test="apartId != null">apart_id,</if>
	        <if test="staffId != null">staff_id</if>
		) VALUES (
	        <if test="apartId != null">#{apartId},</if>
	        <if test="staffId != null">#{staffId}</if>
		)
    </insert>
    <update id="deleteApartStaff" parameterType="int" useGeneratedKeys="true" keyProperty="staffId">
    	UPDATE apart_staff_relation SET 
    		deleted = 1
    		where apart_id = #{apartId}
    		and staff_id = #{staffId}
    </update>
	<select id="findOne" parameterType="int" resultType="Apartment">
		select apart_id as apartId, apart_name as apartName from apartment where apart_id=#{apartId}
    </select>
    <select id="findAll" resultType="Apartment">
    	select apart_id as apartId, apart_name as apartName from apartment where deleted=0
    </select>
    <select id="findStaffAparts" resultType="Apartment">
    	select apart_id as apartId, apart_name as apartName from apartment where deleted=0 and apart_id in(
    		select apart_id from apart_staff_relation where staff_id=#{staffId}
    	)
    </select>
    
    <insert id="createFloor" parameterType="Floor" useGeneratedKeys="true" keyProperty="floor.id">
        INSERT INTO floor(
        	<if test="floor.apartId != null">apart_id,</if>
	        <if test="floor.floorNo != null">floor_no</if>
		) VALUES (
	        <if test="floor.apartId != null">#{floor.apartId},</if>
	        <if test="floor.floorNo != null">#{floor.floorNo}</if>
		)
    </insert>
    <select id="findFloorFromDormId" resultType="Floor">
    	select id, apart_id as apartId, floor_no as floorNo from floor where deleted=0 and id in(
    		select floor_id from dormitory
    		where id=#{dormId}
    	)
    </select>
    <select id="findApartFromFloorId" resultType="Apartment">
    	select apart_id as apartId, apart_name as apartName from apartment where deleted=0 and apart_id in(
    		select apart_id from floor
    		where id=#{floorId}
    	)
    </select>
    <insert id="createDorm" parameterType="Dormitory" useGeneratedKeys="true" keyProperty="dormitory.id">
        INSERT INTO dormitory(
        	<if test="dormitory.dormNo != null">dorm_no,</if>
	        <if test="dormitory.floorId != null">floor_id,</if>
	        <if test="dormitory.fee != null">fee,</if>
	        <if test="dormitory.leaderId != null">leader_id</if>
		) VALUES (
	        <if test="dormitory.dormNo != null">#{dormitory.dormNo},</if>
	        <if test="dormitory.floorId != null">#{dormitory.floorId},</if>
	        <if test="dormitory.fee != null">#{dormitory.fee},</if>
	        <if test="dormitory.leaderId != null">#{dormitory.leaderId}</if>
		)
    </insert>
    <select id="findFloorNum" resultType="int">
    	select count(*) from floor where apart_id=#{apartId} and deleted=0
    </select>
    <select id="findFloorAll" resultType="Floor">
    	select id, apart_id as apartId, floor_no as floorNo from floor where apart_id=#{apartId} and deleted=0
    </select>
    <select id="findOneFloor" parameterType="int" resultType="Floor">
    	select id, apart_id as apartId, floor_no as floorNo from floor where id=#{floorId} and deleted=0
    </select>
    <select id="findFloorByApartIdFloorNo" resultType="Floor">
    	select id, apart_id as apartId, floor_no as floorNo from floor where apart_id=#{apartId} and floor_no=#{floorNo} and deleted=0
    </select>
    <select id="findFloorDormNum" resultType="int">
    	select count(*) from dormitory where floor_id=#{floorId} and deleted=0
    </select>
    <select id="findApartDormNum" resultType="int">
    	select count(*) from dormitory where floor_id in (select id from floor where apart_id = #{apartId}) and deleted=0
    </select>
    <select id="findFloorDormAll" resultType="Dormitory">
    	select id, dorm_no as dormNo, floor_id as floorId, fee, leader_id as leaderId from dormitory where floor_id=#{floorId} and deleted=0
    </select>
    <select id="findOneDorm" parameterType="int" resultType="Dormitory">
    	select id, dorm_no as dormNo, floor_id as floorId, fee, leader_id as leaderId from dormitory where id=#{dormId} and deleted=0
    </select>
    <select id="findByDormNoFloorId" parameterType="int" resultType="Dormitory">
    	select id, dorm_no as dormNo, floor_id as floorId, fee, leader_id as leaderId from dormitory where dorm_no=#{dormNo} and floor_id=#{floorId} and deleted=0
    </select>
    <update id="updateDorm" parameterType="Dormitory" useGeneratedKeys="true" keyProperty="dorm.id">
    	UPDATE dormitory SET 
    		fee = #{dorm.fee}
    		where id = #{dorm.id}
    </update>
    <select id="findBedsFromDorm" resultType="Bed">
    	select bed_id as bedId, dorm_id as dormId, std_id as stdId from bed where dorm_id=#{dormId} and deleted=0
    </select>
    <select id="findBed" resultType="Bed">
    	select bed_id as bedId, dorm_id as dormId, std_id as stdId from bed where dorm_id=#{dormId} and bed_id=#{bedId} and deleted=0
    </select>
    <insert id="createBed" parameterType="Bed" useGeneratedKeys="true" keyProperty="bed.bedId">
        INSERT INTO bed(
        	<if test="bed.bedId != null">bed_id,</if>
	        <if test="bed.dormId != null">dorm_id,</if>
	        <if test="bed.stdId != null">std_id</if>
		) VALUES (
	        <if test="bed.bedId != null">#{bed.bedId},</if>
	        <if test="bed.dormId != null">#{bed.dormId},</if>
	        <if test="bed.stdId != null">#{bed.stdId}</if>
		)
    </insert>
    <update id="updateDormStd" parameterType="Bed" useGeneratedKeys="true" keyProperty="bed.stdId">
    	UPDATE bed SET 
    		std_id = #{bed.stdId}
    		where bed_id = #{bed.bedId} 
    		and dorm_id = #{bed.dormId}
    </update>
    <update id="updateDormLeader" parameterType="int" useGeneratedKeys="true" keyProperty="id">
    	UPDATE dormitory SET 
    		leader_id = #{stdId}
    		where id = #{dormId}
    </update>
    <select id="getDormBedNum" resultType="int">
    	select count(*) from bed where dorm_id=#{dormId} and deleted=0
    </select>
    <select id="findStdApartId" resultType="int">
    	select apart_id from floor where id in(
        	select floor_id from dormitory where id in(
        		select dorm_id from bed where std_id=#{stdId} and deleted=0
        	) and deleted=0
       	) and deleted=0
    </select>
    <select id="findStdApart" resultType="Apartment">
    	select apart_id as apartId, apart_name as apartName from apartment where apart_id in(
	    	select apart_id from floor where id in(
	        	select floor_id from dormitory where id in(
	        		select dorm_id from bed where std_id=#{stdId} and deleted=0
	        	) and deleted=0
	       	) and deleted=0
       	) and deleted=0;
    </select>
    <select id="findStdDorm" resultType="Dormitory">
    	select id, dorm_no as dormNo, floor_id as floorId, fee, leader_id as leaderId from dormitory where id in(
        	select dorm_id from bed where std_id=#{stdId} and deleted=0
       	) and deleted=0
    </select>
    <select id="findApartStdNum" resultType="int">
    	select count(*) from bed where std_id!=1 and dorm_id in(
    		select id from dormitory where floor_id in(
    			select id from floor where apart_id=#{apartId} and deleted=0
    		) and deleted=0
    	) and deleted=0
    </select>
    <delete id="deleteFloor" parameterType="int">
		delete from floor where id=#{floorId}
	</delete>
	<delete id="deleteDorm" parameterType="int">
		delete from dormitory where id=#{dormId}
	</delete>
	<delete id="deleteBed" parameterType="int">
		delete from bed where bed_id=#{bedId} and dorm_id=#{dormId}
	</delete>
	<select id="findApartRotaAll" resultType="StaffRota">
    	select rota_id as rotaId, apart_id as apartId, GROUP_CONCAT(staff_id) as staffIdsStr, week 
    	from staff_rota 
    	where apart_id=#{apartId} and deleted=0 
    	group by week
    </select>
    <delete id="deleteStaffRota" parameterType="int">
		delete from staff_rota where apart_id=#{apartId} and staff_id=#{staffId} and deleted=0
	</delete>
	<insert id="createStaffRota" parameterType="StaffRota" useGeneratedKeys="true" keyProperty="rota.rotaId">
        INSERT INTO staff_rota(
        	<if test="rota.apartId != null">apart_id,</if>
	        <if test="rota.staffId != null">staff_id,</if>
	        <if test="rota.week != null">week</if>
		) VALUES (
	        <if test="rota.apartId != null">#{rota.apartId},</if>
	        <if test="rota.staffId != null">#{rota.staffId},</if>
	        <if test="rota.week != null">#{rota.week}</if>
		)
    </insert>
    <select id="findOneStaffRota" resultType="StaffRota">
    	select rota_id as rotaId, apart_id as apartId, staff_id as staffId, week 
    	from staff_rota 
    	where staff_id=#{staffId} and week=#{week} and deleted=0
    </select>
</mapper>