<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.ClassDao">
    <insert id="insertClassList" parameterType="int">
        INSERT INTO class(
        	<if test="classId != null">class_id,</if>
	        <if test="className != null">class_name,</if>
	        <if test="speciId != null">speci_id,</if>
	        consell_id
		) VALUES (
	        <if test="classId != null">#{classId},</if>
	        <if test="className != null">#{className},</if>
	        <if test="speciId != null">#{speciId},</if>
	        #{consellId}
		)
    </insert>
    <select id="findSpeciAllClass" parameterType="int" resultType="Class">
		select class_id as classId, class_name as className, speci_id as speciId, consell_id as consellId from class where speci_id=#{speciId}
    </select>
    <select id="findClassSpeciId" parameterType="int" resultType="int">
		select speci_id as speciId from class where class_id=#{classId}
    </select>
</mapper>