<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.ConsellorDao">
    <insert id="insertConsellorList" parameterType="int">
        INSERT INTO consellor(
        	<if test="consellId != null">consell_id,</if>
	        <if test="consellName != null">consell_name,</if>
	        consell_sex,
	        consell_tel
		) VALUES (
	        <if test="consellId != null">#{consellId},</if>
	        <if test="consellName != null">#{consellName},</if>
	        #{consellSex},
	        #{consellTel}
		)
    </insert>
</mapper>