<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.DormDao">
    <select id="getNewScores" parameterType="int" resultType="DormScore">
        select dorm_id as dormId, staff_id as staffId, create_time as createTime, score from dorm_score 
        where deleted=0 
        order by create_time desc
        limit 20
    </select>
    <select id="getApartNewScores" parameterType="int" resultType="DormScore">
        select dorm_id as dormId, staff_id as staffId, create_time as createTime, score from dorm_score 
        where dorm_id in(
	        select id from dormitory
	        where floor_id in(
	        	select id from floor
	        	where apart_id=#{apartId} and deleted=0
	        )and deleted=0
        )and deleted=0 
        order by create_time desc
        limit 20
    </select>
    <insert id="createDormScore" parameterType="DormScore" useGeneratedKeys="true" keyProperty="dormScore.id">
        INSERT INTO dorm_score(
        	<if test="dormScore.dormId != null">dorm_id,</if>
	        <if test="dormScore.staffId != null">staff_id,</if>
	        <if test="dormScore.createTime != null">create_time,</if>
	        <if test="dormScore.score != null">score</if>
		) VALUES (
			<if test="dormScore.dormId != null">#{dormScore.dormId},</if>
	        <if test="dormScore.staffId != null">#{dormScore.staffId},</if>
	        <if test="dormScore.createTime != null">#{dormScore.createTime},</if>
	        <if test="dormScore.score != null">#{dormScore.score}</if>
		)
    </insert>
    <select id="findOneDormScore" parameterType="int" resultType="DormScore">
        select dorm_id as dormId, staff_id as staffId, create_time as createTime, score from dorm_score 
        where dorm_id=#{dormId} and deleted=0
        order by create_time asc
    </select>
    <select id="findOneDormScoreByPage" parameterType="int" resultType="DormScore">
        select dorm_id as dormId, staff_id as staffId, create_time as createTime, score from dorm_score 
        where dorm_id=#{dormId} and deleted=0
        order by create_time desc limit #{start},#{size}
    </select>
    <select id="findApartDormOneDayScore" resultType="DormScore">
    	select elt(interval(ds.score, 0, 60, 80, 90), 'D', 'C', 'B', 'A') as grade, count(*) as count 
    	from dorm_score as ds 
        where dorm_id in(
	        select id from dormitory
	        where floor_id in(
	        	select id from floor
	        	where apart_id=#{apartId} and deleted=0
	        )and deleted=0
        )and create_time like #{day} and deleted=0
        group by elt(interval(ds.score, 0, 60, 80, 90), 'D', 'C', 'B', 'A');
    </select>
    <select id="findApartDormScore" resultType="DormScore">
    	select elt(interval(ds.score, 0, 60, 80, 90), 'D', 'C', 'B', 'A') as grade, count(*) as count
    	from dorm_score as ds 
        where dorm_id in(
	        select id from dormitory
	        where floor_id in(
	        	select id from floor
	        	where apart_id=#{apartId} and deleted=0
	        )and deleted=0
        )and deleted=0
        group by elt(interval(ds.score, 0, 60, 80, 90), 'D', 'C', 'B', 'A');
    </select>
</mapper>