<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.SpecialityDao">
    <insert id="insertSpecialityList" parameterType="int">
        INSERT INTO Speciality(
        	<if test="speciId != null">speci_id,</if>
	        <if test="speciName != null">speci_name,</if>
	        <if test="collegeId != null">college_id,</if>
	        <if test="speYearsId != null">spe_years_id</if>
		) VALUES (
	        <if test="speciId != null">#{speciId},</if>
	        <if test="speciName != null">#{speciName},</if>
	        <if test="collegeId != null">#{collegeId},</if>
	        <if test="speYearsId != null">#{speYearsId}</if>
		)
    </insert>
</mapper>