<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.StaffDao">
    <insert id="insertStaffList" parameterType="int">
        INSERT INTO staff(
        	<if test="staffId != null">staff_id,</if>
	        <if test="staffName != null">staff_name,</if>
	        staff_sex,
	        staff_tel,
	        <if test="hiredate != null">hiredate,</if>
	        leavedate
		) VALUES (
	        <if test="staffId != null">#{staffId},</if>
	        <if test="staffName != null">#{staffName},</if>
	        #{staffSex},
	        #{staffTel},
	        <if test="hiredate != null">#{hiredate},</if>
	        #{leavedate}
		)
    </insert>
    
    <select id="findOneStaff" parameterType="int" resultType="Staff">
		select staff_id as staffId, staff_name as staffName, staff_sex as staffSex, staff_tel as staffTel, hiredate as hiredateStr, leavedate from staff where staff_id=#{staffId}
    </select>
    
    <delete id="deleteOne" parameterType="int">
    	delete from staff where staff_id = #{staffId}
    </delete>
    
    <update id="updateStaff" parameterType="Staff" useGeneratedKeys="true" keyProperty="staff.staffId">
    	UPDATE staff SET 
    		staff_id = #{staff.staffId}, 
    		staff_name = #{staff.staffName},
    		staff_sex = #{staff.staffSex}, 
    		staff_tel = #{staff.staffTel}, 
    		hiredate = #{staff.hiredateStr}, 
    		leavedate = #{staff.leavedate} 
    		where staff_id = #{staff.staffId}
    </update>
</mapper>