<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsf.stdntapt.dao.StudentDao">
    <insert id="insertStudentList" parameterType="int">
        INSERT INTO student(
        	<if test="stdId != null">std_id,</if>
	        <if test="stdName != null">std_name,</if>
	        std_sex,
	        std_tel,
	        enter_time,
	        is_party,
	        class_id
		) VALUES (
	        <if test="stdId != null">#{stdId},</if>
	        <if test="stdName != null">#{stdName},</if>
	        #{stdSex},
	        #{stdTel},
	        #{enterTime},
	        #{isParty},
	        #{classId}
		)
    </insert>
    
    <select id="findOneStd" parameterType="int" resultType="Student">
		select std_id as stdId, std_name as stdName, std_sex as stdSex, std_tel as stdTel, enter_time as enterTime, is_party as isParty, class_id as classId from student where std_id=#{stdId}
    </select>
    
    <select id="findStdName" parameterType="int" resultType="String">
		select std_name as stdName from student where std_id=#{stdId}
    </select>
    
    <delete id="deleteOne" parameterType="int">
    	delete from student where std_id = #{stdId}
    </delete>
    
    <update id="updateStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="student.stdId">
    	UPDATE student SET 
    		std_id = #{student.stdId}, 
    		std_name = #{student.stdName},
    		std_sex = #{student.stdSex}, 
    		std_tel = #{student.stdTel}, 
    		enter_time = #{student.enterTime}, 
    		is_party = #{student.isParty}, 
    		class_id = #{student.classId} 
    		where std_id = #{student.stdId}
    </update>
</mapper>