@CHARSET "UTF-8";

.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.card .header {
    padding: 20px 20px 0;
}
.card .content {
    padding: 15px 15px 10px 15px;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
}

.table > thead > tr > th {
    padding: 14px 8px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}

tbody td{
   	padding: 18px 5px !important;
   	text-align: center;
   	font-size: 12px;
   	border-right: dashed 1px #e1e1e1;
   	border-left: dashed 1px #e1e1e1;
}
tbody tr:nth-child(odd) td {
	background: #fafafa;
}
thead tr th{
	border: solid 1px #e1e1e1;
	border-bottom: 0 !important;
   	padding: 10px 5px;
   	text-align: center;
   	font-size: 14px;
   	color: #555;
}
thead th:nth-child(1) {
    border-left: 0;
}
thead th:last-child {
    border-right: 0;
}
tbody tr td:nth-child(1) {
    border-left: 0;
}
tbody tr td:last-child {
    border-right: 0;
}